.invisible{
    display: none;
}

.contact-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    padding: 20px;
    box-shadow: aqua 5px 5px;
    border: aqua 1px solid;
    background-color: rgba(255,255,255,0.5);
    z-index: 10;
    backdrop-filter: blur(5px);
}

.contact-form .form-floating{
    margin: 15px;
}

.contact-form textarea{
    min-height: 20vh;
}

.form-button{
    text-align: center;
}

.blurry-back{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,0.5);
    backdrop-filter: blur(5px);
}

.close-button-form{
    text-align: right;
}

.close-button-form i{
    cursor: pointer;
    margin-right: 15px;
}