.card-footer{
    background: var(--blue);
    color: white;
    font-size: 120%;
}

.courses {
    display: flex;
    flex-direction: column;
}

.courses * p {
    font-size: 90%;
    margin: 1em 0;
}

.courses--images {
    transition: width .3s ease-in-out;
}
.courses--images:focus,
.courses--images:hover {
    width: 110%;
}

.courses--container{
    overflow: hidden;
    position: relative;
    margin: auto;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}