@charset "utf-8";

/* FOOTER STYLING */

footer {
    background-color: var(--blue);
    color: white;
}

footer .bi {
    font-size: 2rem;
}

.footer--container {
    display: flex;
    justify-content: flex-start;
}

.footer--container > *{
    margin-right: 2em;
}

.footer--links {
    display: flex;
    flex-direction: column;
}

.footer--links__socials a,
.footer--links__privacy a{
    text-decoration: none;
    color: white;
}
.footer--links__socials a:hover,
.footer--links__privacy a:hover{
    color: var(--lightgrey);
}

@media all and (max-width: 1200px){
    .footer--container {
        display: flex;
        flex-direction: column;
    }
    .footer--map {
        width: 100%;
        margin-bottom: 2em;
    }
}