@charset "utf-8";

/* HEADER STYLING */

header {
    background: var(--orange);
}

.header--hero {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.header--hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    /*Könn ma auch wieder rausnehmen
    filter: blur(2px);*/
}

.header--hero .container {
    position: relative;
    z-index: 2;
}

.header--hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.hero--logo {
    padding-bottom: 2em;
}

@media (pointer: coarse) and (hover: none) {
    .header--hero {
        background: url('./../assets/images/Hero_Image.jpg') black no-repeat center center scroll;
    }
    .header--hero video {
        display: none;
    }
}