@charset "utf-8";

/* HEADER STYLING */

header {
    background: var(--orange);
}

.header--hero {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.header--hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}

.header--hero .container {
    position: relative;
    z-index: 2;
}

.header--hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.hero--logo {
    padding-bottom: 2em;
}

@media (pointer: coarse) and (hover: none) {
    .header--hero {
        background: url('./../assets/images/Hero_Image.jpg') black no-repeat center center scroll;
    }
    .header--hero video {
        display: none;
    }
}

.header--navbar .header--navbar__container * .header--navbar__link:hover { /* höhere Spezifität */
    color: var(--blue-dark);
    transition: color .3s ease-in;
}

/*Darkmode-Anpassung in der Nav-Leiste*/

.right-side-nav{
    text-align: right;
}

/*Nav-Mobil*/
@media all and (max-width: 1200px) {
    .header--navbar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: var(--orange);
        width: 100%;
        margin-bottom: 50px;
    }
    .header--hero{
        margin-top: 60px;
    }
}