@charset "utf-8";

/* Webdesign by Johannes Eder, Jonas Mautner & Manuel Strobel */

/* IMPORTS */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("header.css");
@import url("contactform.css");
@import url("footer.css");
@import url("content.css");
@import url("courses.css");


/* GENERAL STYLE */

:root {
    --orange: #ffbc57;
    --orange-dark: #a7844d;
    --blue: #0053ba;
    --blue-dark: #04397d;
}

html, body {
    font-family: 'Abel', 'Lato', sans-serif; !important;
    font-size: 1.1em;
}

section {
    margin: 5em 0;
}

.btn {
    background: var(--orange);
    border-color: var(--orange);
}

.btn:focus,
.btn:hover {
    background: var(--orange-dark);
    border-color: var(--orange-dark);
}

* [type="submit"] {
    color: initial;
}

