@charset "utf-8";

/* Webdesign by Johannes Eder, Jonas Mautner & Manuel Strobel */

/* IMPORTS */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("header.css");
@import url("contactform.css");
@import url("footer.css");
@import url("content.css");
@import url("courses.css");


/* GENERAL STYLE */

:root {
    --orange: #ffbc57;
    --orange-dark: #a7844d;
    --blue: #0053ba;
    --blue-dark: #2386b4;
}

section {
    margin: 5em 0;
}

.btn {
    background: var(--orange);
    border-color: var(--orange);
}

.btn:focus,
.btn:hover {
    background: var(--orange-dark);
    border-color: var(--orange-dark);
}






*[class^='bi'] {
    /* todo here comes some general style for bootstrap icons */
}

*[class^='bi']:hover,
*[class^='bi']:focus {
    /* todo focus and hover style for bootstrap icons */
}

section {
    margin: 50px;
}

/* FONTS */
html, body {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-align: justify;
}

