@charset "utf-8";

/* Webdesign by Johannes Eder, Jonas Mautner & Manuel Strobel */

/* IMPORTS */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("header.css");


/* GENERAL STYLE */

:root {
    --orange: #ffc468;
}

*[class^='bi'] {
    /* todo here comes some general style for bootstrap icons */
}

*[class^='bi']:hover,
*[class^='bi']:focus {
    /* todo focus and hover style for bootstrap icons */
}
