@charset "utf-8";

/* Webdesign by Johannes Eder, Jonas Mautner & Manuel Strobel */

/* IMPORTS */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("header.css");
@import url("contactform.css");
@import url("footer.css");
@import url("content.css");
@import url("courses.css");


/* GENERAL STYLE */

:root {
    --orange: #ffbc57;
    --orange-dark: #a7844d;
    --blue: #0053ba;
    --blue-dark: #04397d;
    --dark: #363636;
}

html, body {
    font-family: 'Abel', 'Lato', sans-serif; !important;
    font-size: 1.1em;
}

section {
    margin: 5em 0;
}

.btn {
    background: var(--orange);
    border-color: var(--orange);
}

.btn:focus,
.btn:hover {
    background: var(--orange-dark);
    border-color: var(--orange-dark);
}

* [type="submit"] {
    color: initial;
}

/* DARK MODE LETS GOOO */
#darkmode--button {
    font-size: 18px;
    border: none;
    outline: none;
    color: #fff;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

#darkmode--button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .8s ease-in-out;
}


#darkmode--button:hover:before {
    opacity: 1;
}

#darkmode--button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.darkmode--general {
    background-color: var(--dark);
    color: white;
}
.darkmode--card {
    background-color: var(--dark);
    border: 2px solid rgba(215, 215, 215, 0.12);
}
.darkmode--shadow {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}
.darkmode--contactData {
    box-shadow: inset rgba(0, 0, 0, 1) 0 0 60px;
}

