
.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0 40px 0;
}

.team--img {
    background-image: url('../assets/images/Team2.jpg');
    width: 100%;
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team--display__profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    transition: transform .3s ease-in-out;
}

.team--display__profil:focus,
.team--display__profil:hover {
    transform: scale(1.1);
}

.team--display {
    width: 200px;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    padding: 15px;
}

.team--display a {
    color: black;
    text-decoration: underline;
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
}

.team--display__sports {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
}

.team--display {
    /*more colorful shadows
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);*/
    box-shadow: 10px 10px 5px var(--lightgrey);
}

.team--text__float {
    background-color: white;
    box-shadow: 10px 10px 5px var(--lightgrey);
    width: 85%;
    position: relative;
    top: -50px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
}

@media all and (max-width: 1200px){
    #about {
        text-align: center;
    }
}
